*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/app-release.aab
app/release/app-release.apk
app/release/output-metadata.json
Screenshot_20250104_125454.png
Screenshot_20250104_125503.png
Screenshot_20250104_125633.png
Screenshot_20250104_125639.png
.idea/kotlinc.xml
.idea/inspectionProfiles/Project_Default.xml
.kotlin/errors/errors-1744628341313.log
